.footer__column-link {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-decoration: none;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 18px;
  color: #fff;
  transition: opacity .2s ease;
}

.footer__column-link:last-of-type {
  margin-bottom: 0;
}

.footer__column-link:hover {
  opacity: .6;
}