.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  min-height: 890px;
  padding-top: 100px;
  background: url(../../images/feinman.png) #f2f2f2 left bottom no-repeat;
  background-size: 867px 637px;
}
