.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;
  object-fit: cover;
  object-position: left top;
}
/*TODO: записать фишку - не указывать высоту и скрыть переполнени контейнера (в кхан__бук-контейнер) */
/* --> без высоты картинка не скрывается за следующим блоком, а становится полностью видимой внутри 
кхан__бук-контейнер */